.login{
    height: calc(100vh - 50px);
    display: flex;
    flex-flow: column;
    align-items: center;
   
    justify-content: center;
    background: linear-gradient(rgba(255,255,255,0.3),rgba(255,255,255,0.3)) ,url("../../components/images/header.png");
}

.loginform{
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
}
.logintitle{
    font-family: "Josefin Sans", sans-serif;
    font-size: 50px;
}

.loginform>label{
    font-size: 20px;
    font-family: "Josefin Sans", sans-serif;
    margin-top: 20px;
}

.loginform>input{
    font-size: 14px;
    padding: 5px;
    width: 30%;
    border: none;
}

.loginsubmit{
    cursor: pointer;
    margin-top: 20px;
    padding: 10px;
    background-color: rgb(124, 82, 6);
    color: white;
    border-radius: 5px;
    border: none;
    font-family: "Josefin Sans", sans-serif;
    width:10%
}
.loginsubmit:hover{
    background-color: rgba(122, 83, 12, 0.564);
}

.loginsubmit:disabled{
    cursor: not-allowed;
    background-color: rgba(122, 83, 12, 0.564);
}

.registerbutton{
    cursor: pointer;
    margin-top: 5px;
    padding: 10px;
    background-color: rgb(124, 82, 6);
    color: white;
    border-radius: 5px;
    border: none;
    font-family: "Josefin Sans", sans-serif;
    width:10%
    
}
.registerbutton:hover{
    background-color: rgba(122, 83, 12, 0.564);
}

.registerlabel{
    margin-top: 20px;
    font-size: 15px;
    font-family: "Josefin Sans", sans-serif;
    color: black;
}